@{
    const string formId = "2876599";
    const string userId = "8f5ef7e5fa";
    const string weeklyNewsletterTagId = "2832265";
    const string subFormId = "216980438";

}
<script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
<aside class="border-t-2 mt-2 p-4 bg-slate-200 rounded-lg shadow-sm">
    <p class="mt-2 text-2xl font-bold text-center">Want a weekly digest of this blog?</p>

    <form action="https://app.convertkit.com/forms/@formId/subscriptions" method="post" data-sv-form="@formId" data-uid="@userId" data-options="{ &quot;settings&quot;: { &quot;after_subscribe&quot;: { &quot;action&quot;: &quot;message&quot;, &quot;success_message&quot;: &quot;Success! Now check your email to confirm your subscription.&quot;, &quot;redirect_url&quot;: &quot;&quot; } } }">
        <div class="flex gap-4 items-center justify-center flex-wrap">
            <input class="rounded-md border-gray-300 focus:border-gray-500 focus:ring-0" aria-label="First Name" name="fields[first_name]" required="" placeholder="First Name" type="text">
            <input class="rounded-md border-gray-300 focus:border-gray-500 focus:ring-0" name="email_address" aria-label="Email Address" placeholder="Email Address" required="" type="email">
            <button class="px-3 py-2 text-white bg-green-400 rounded-md focus:bg-indigo-600 focus:outline-none flex-none" type="submit">Subscribe</button>
        </div>
        <fieldset data-group="checkboxes" class="hidden" type="Custom" order="2" save_as="Tag" group="field">
            <div data-element="tags-checkboxes" data-group="checkbox">
                <input id="tag-@subFormId-@weeklyNewsletterTagId" type="checkbox" checked="checked" name="tags[]" value="@weeklyNewsletterTagId"><label for="tag-@subFormId-@weeklyNewsletterTagId">Weekly Newsletter</label>
            </div>
        </fieldset>
    </form>
</aside>

<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
<aside class="border-t-2 mt-2 p-4 bg-slate-200 rounded-lg shadow-sm" id="mc_embed_signup">
    <p class="mt-2 text-2xl font-bold text-center">Want a weekly digest of this blog?</p>
    <form action="https://ankursheel.us12.list-manage.com/subscribe/post?u=d88459c290a1a8d98ad780bbc&amp;id=31e4ebb75b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="flex gap-4 items-center justify-center flex-wrap">
            <div class="mc-field-group">
                <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
            </div>
            <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_d88459c290a1a8d98ad780bbc_31e4ebb75b" tabindex="-1" value="">
            </div>
            <div class="mc-field-group">
                <label for="mce-group[52461]">Signup </label>
                <select name="group[52461]" class="REQ_CSS" id="mce-group[52461]">
                    <option value=""></option>
                    <option value="1">Ankurs Weekly Digest</option>

                </select>
            </div>
            <div class="optionalParent">
                <div class="clear foot">

                    <p class="brandingLogo">
                        <a href="http://eepurl.com/hRcTAL" title="Mailchimp - email marketing made easy and fun">
                            <img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</aside>

<aside class="border-t-2 mt-2 p-4 bg-slate-200 rounded-lg shadow-sm" id="mc_embed_signup">
    <p class="mt-2 text-2xl font-bold text-center">Want a weekly digest of this blog?</p>

    <form action="https://ankursheel.us12.list-manage.com/subscribe/post?u=d88459c290a1a8d98ad780bbc&amp;id=31e4ebb75b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="flex gap-4 items-center justify-center flex-wrap">
            <input class="rounded-md border-gray-300 focus:border-gray-500 focus:ring-0 required" aria-label="First Name" required="" placeholder="First Name" type="text" name="FNAME" id="mce-FNAME"/>
            <input class="rounded-md border-gray-300 focus:border-gray-500 focus:ring-0 required" name="email_address" aria-label="Email Address" placeholder="Email Address" required="" type="email" name="EMAIL" id="mce-EMAIL"/>
            <button type="submit" class="px-3 py-2 text-white bg-green-400 rounded-md focus:bg-indigo-600 focus:outline-none flex-none" id="mc-embedded-subscribe">Subscribe</button>
            <div class="hidden">
                <ul>
                    <li>
                        <input type="checkbox" value="1" name="group[52461][1]" id="mce-group[52461]-52461-0" checked="checked"><label for="mce-group[52461]-52461-0">Ankurs Weekly Digest</label>
                    </li>
                </ul>
            </div>
            <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_d88459c290a1a8d98ad780bbc_31e4ebb75b" tabindex="-1" value="">
            </div>
        </div>
    </form>
</aside>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = []; window.ftypes = [];fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
