---
Title: All Articles
---

@model Posts

@{
    var groups = Model.AllPosts.GroupBy(x => x.Document.GetLastUpdatedDate().Year);
}
@foreach (var group in groups)
{
    var header = $"{group.Key}({group.Count()})";
    <h2>@header</h2>
    foreach (var post in group)
    {
        <div>
            <a href="@post.Document.GetPageUrl()" class="mb-4">@post.Document.GetTitle()</a> - @post.Document.GetLastUpdatedDate().ToString("MMMM dd, yyyy")
        </div>
    }
}
