@model PageModel

@{
    const int numberOfRecentPosts = 5;
    var recentPosts = Model.Posts.OrderByDescending(x => x.GetLastUpdatedDate()).ToList().Where(x => !x.GetTags().Contains("weekly roundup")).Take(numberOfRecentPosts);
}

<p>I go down rabbit holes and blog about them.</p>

<h2> @numberOfRecentPosts Most Recently Updated Posts</h2>
<ul class="p-0">
    @foreach (var post in recentPosts)
    {
        <li class="list-none mt-6 md:mt-1 p-0">
            <a href="@post.GetPageUrl()">@post.GetTitle()</a> - <time class="prose-sm" datetime="@post.GetLastUpdatedDate().ToString("yy-MM-dd")">@post.GetLastUpdatedDate().ToString("MMMM dd, yyyy")</time>
        </li>
    }
</ul>

<h2>My favourites</h2>
<ul class="p-0">
    <li class="list-none mt-6 md:mt-1 p-0">
        <a href="/blog/child-appreciation">Why being an only child is awesome?</a>
    </li>
    <li class="list-none mt-6 md:mt-1 p-0">
        <a href="/blog/dream-job">What is my idea of a dream job?</a>
    </li>
    <li class="list-none mt-6 md:mt-1 p-0">
        <a href="/blog/impossible-list-bucket-list">Should you make an Impossible List or a Bucket List?</a>
    </li>
    <li class="list-none mt-6 md:mt-1 p-0">
        <a href="/blog/make-code-reviews-stress-free">How to make code reviews stress free?</a>
    </li>
    <li class="list-none mt-6 md:mt-1 p-0">
        <a href="/blog/rent-buy-house">Should I Rent Or Buy a House?</a>
    </li>
</ul>
